<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="CIS148 Project Website" />
        <meta name="author" content="Randy Berlin" />
        <title>RB Project Website</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
      <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet" />


      
    </head>
    <body id="page-top">

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="http://127.0.0.1:3000">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="https://www.zoxart.com/paintings">Buy Now</a></li>
                      <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:3000/logger#">Log In</a></li>
                      <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:3000/about#">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="masthead text-center text-white" style="background-image: url('/assets/joyofsax.jpg');">
          <a href="http://127.0.0.1:3000">
          <div class="container">
            <div class="item">
              <h1>Zox Art</h1></div>
            <div style="width: 528px; color: white; font-size: 18px; font-family: Anton; font-weight: 500; line-height: 30.33px; word-wrap: break-word; text-shadow: 1px 1px 1px black, 0 0 1em black, 0 0 0.5em black; -webkit-text-stroke: 0 black; text-align: left;">Learn, buy and trade art pieces of artist Zox around the world.</div>

              <div style="width: 153px; height: 42px; position: relative; background-color: black; border-radius: 10px; ">
                  <div style="left: 27px; top: 9px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word; text-align: center;">Learn more</div>

                  <div style="width: 153px; height: 42px; left: 0px; top: 0px; position: absolute; border-radius: 10px; border: 2px white solid"></div>
            </div></a>
          </header>

                            <!--Bootstrap Form-->
                            <div class="container px-4 mt-5">
                              <h2 class="text-center mb-4">Sign Up</h2>
                              <form
                                class="offset-lg-2 col-lg-8"
                                action="https://script.google.com/macros/s/AKfycbwnD8ze5hWLk4wKNhrBe383e0HrZW0j5exQ5HvWD4gHBV3g71gMAjBJ8P6LfOoDvQM47Q/exec"
                                method="POST"
                                name="signup-form"
                              >

                                <!--FIRST NAME-->
                                <div class="mb-3 col-sm-6">
                                  <label for="firstname" class="form-label"> First Name: </label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="firstname"
                                    required
                                    placeholder="Type your first name..."
                                    id="firstname"
                                  />
                                </div>

                                <!--LAST NAME-->
                                <div class="mb-3 col-sm-6">
                                  <label for="lastname" class="form-label"> Last Name: </label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="lastname"
                                    placeholder="Type your last name..."
                                    id="lastname"
                                  />
                                </div>

                                <!--PHONE-->
                                <div class="mb-3 col-sm-6">
                                  <label for="phone" class="form-label">Phone:</label>
                                  <input
                                    type="tel"
                                    class="form-control"
                                    id="phone"
                                    placeholder="(555)555-5555"
                                    name="phone"
                                    required
                                  />
                                </div>                             

                                <!--EMAIL-->
                                <div class="mb-3 col-sm-6">
                                  <label for="email" class="form-label"> Email address </label>
                                  <input type="email" class="form-control" name="email" placeholder="cxsxsx@today.com" id="email"
                                    aria-describedby="emailHelp" required />
                                  <div id="emailHelp" class="form-text">
                                  </div>
                                </div>

                                <!--USERNAME-->
                                <div class="mb-3 col-sm-6">
                                  <label for="username" class="form-label"> Username: </label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="username"
                                    required
                                    placeholder="Create username..."
                                    id="username"
                                  />
                                </div>

                                <!--PASSWORD-->
                                <div class="mb-3 col-sm-6">
                                  <label for="password" class="form-label">Password:</label>
                                  <input
                                    type="password"
                                    class="form-control"
                                    id="password"
                                    placeholder="**********"
                                    name="password"
                                    required
                                  />
                                </div>

                                <!--CONFIRM PASSWORD-->
                                <div class="mb-3 col-sm-6">
                                  <label for="confirmpassword" class="form-label">Confirm Password:</label>
                                  <input
                                    type="confirmpassword"
                                    class="form-control"
                                    id="confirmpassword"
                                    placeholder="**********"
                                    name="confirmpassword"
                                    required
                                  />
                                </div>


                                <!--TERMS-->
                                <div class="mb-3 form-check">
                                  <input type="checkbox" class="form-check-input" id="terms" />
                                  <label class="form-check-label" for="terms"
                                    >I agree to the terms and coditions.</label
                                  >
                                </div>

                                <!--SUBMIT BUTTON-->
                                <button type="signup" class="btn btn-primary">
                                  Sign Up
                                </button>
                              </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">&copy;&nbsp;2024. Randy Berlin (SID# 900745650).</p></div>
        </footer>
 

        <script src="js/scripts.js"></script>
    </body>
</html>